{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mewar - битва за власть</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="bg-gray-900">
        
        <div class="flex mt-5">
            
                
                {% block content %}
                {% endblock %}
            

        </div>
    </body>
</html>