{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
         
                <form action="" class="flex flex-col m-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post"> 
                    {% csrf_token %}
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                        Почта:
                      </label>
                    <input type="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_email" required>
                    
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Никнейм:
                      </label>
                    <input type="text" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_username" required>
                    
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password1">
                        Пароль:
                      </label>
                    <input type="password" name="password1" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_password1" required>
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password2">
                        Повторите пароль:
                      </label>
                    <input type="password" name="password2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_password2" required>
                    
                    <input type="submit" class="bg-green-800 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-5" value="Войти">
                </form>
           
        {% endblock %}
    </body>
</html>